#menu-magenest-movie-countdown > a:before {
    content: '';
    background-image: url('../images/clock.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px;
    margin: 0 auto;
    width: 30px;
}
