<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magenest_rule_save_before">
        <observer name="before_save_example" instance="Magenest\ChapterSix\Observer\UpdateStatusBeforeSave"/>
    </event>
</config>
